# Enforce LF line endings for all text files
* text=auto eol=lf

# Explicitly mark binary files
*.min.js binary
*.min.js.map binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
